*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
}

 /*GENERAL CLASSES  */
 
.top-design {
  background-color: whitesmoke;
  color: #333;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.192);
  box-shadow: 1px 0px 10px 10px rgba(255, 255, 255, 0.048);
  padding: .5rem;
}

 /*GENERAL CLASSES  */



.navigation-menu{
  display: flex;
  justify-content: space-around;
  background-color: white;
 
}

[class^="drop-wrap"]{
  position: relative;
  z-index: 99;
}

.drop-wrap-1:hover .content-psy{
  display: flex;
}
.drop-wrap-2:hover .content-mh{
  display: flex;
}
.drop-wrap-3:hover .content-pers{
  display: flex;
}

[class^="dropdown"]{
  border:none;
  position: relative;
}

[class^="content"] {
  position: absolute;
  padding-top: 1rem 0;
  display: none;
  flex-direction: column;
  top: 3rem;
  background-color: white;
  width: 100%;
  text-align: center;
}
[class^="content"] a{
  padding: 1rem;
}
[class^="content"] a:hover{
  background-color: rgba(51, 51, 51, 0.315);
  color: white;
}

.hamburger{
  display: none;
}

/*HERO SECTIOn*/

.hero-wrapper {
  position: relative;
  background: url('/PROJECTS/Mental_Awareness/img/black-and-white-cool-wallpaper-high-angle-shot-764880.jpg');
  background-size: cover;
  /* background-attachment: fixed; */
  height: 100vh;
  width: 100%;
  color: white;
}

.hero-content {
  z-index: 99;
  padding: 7rem 0 0 7rem;
  width: 50%;
}

/* About us section */

.article-wrap {
  display: flex;
  justify-content: space-evenly;
}

.about-us img {
  width: 100%;
}

.article-card {
  /* position: absolute; */
  margin: 10rem 0;
  padding: 2rem;
  background-color: white;
  box-shadow: 1px 0px 10px 3px rgba(51, 51, 51, 0.11);
  width: 25%;
}


/* Spacing black section */

.spacing-black-section{
  background: url('/PROJECTS/Mental_Awareness/img/bloom-blossom-flora-65924.jpg');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sides {
  margin: 10rem 5rem;
  color: #fff;
  width: 25%;
  padding: 2rem;
  background-color: rgb(79, 2, 102);
}

.sides button {
  color: rgb(218, 218, 218);
  border-color: #fff;
}
.sides button:hover {
  color: rgb(255, 255, 255);
}