:root{
  --mTxt-color: rgb(2, 34, 68);
}

/* FONTS  */
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif; */



*{
  margin: 0;
  padding: 0;
}


body {
  height: 100%;
  width: 100%;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  background: rgb(75, 200, 250);
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
}
p, a {
  font-family: 'Raleway', sans-serif;
}

#nav a {
  color: white;
  text-decoration: none;
}

#nav {
  text-align: center;
  padding: 2rem 0;

}

#nav a {

  margin: 1rem;
  font-size: 3rem;
}

.main-section,h3, p {
  font-size: 2.5rem;
}

.main-section {
  margin: 0 auto;
  width: 95vw;
  height: 1%;
  background-color: whitesmoke;
  box-shadow: 0px 20px 30px 1px rgba(0, 0, 0, 0.171);
  position: relative;
  transition: .2s ease-in;
  overflow: hidden;

}

article {
  /* font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif; */
  text-align: center;
}

#about-me{
  /* position: absolute; */
  top: 0;
  opacity: 1;
  transition: 0.2s ease-in;
  padding: 1rem;
  font-size: 1.3rem;
}

#app, #contact{
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.2s ease-in;
  padding: 1rem;
  font-size: 1.3rem;
}



@media all and (min-width: 1024px) and (max-width: 1280px) {
  .main-section,h3, p {
    font-size: 1.5rem;
  }

  h2{
    font-size: 2.5rem;
  }
 }

@media all and (min-width: 768px) and (max-width: 1024px) {}
 

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) { 
  #nav {
    text-align: center;
    padding: 2rem 0;
 
  }
  
  .main-section,h3, p {
    font-size: 1rem;
  }

  h2{
    font-size: 1.5rem;
  }


  #nav a {

    margin: 1rem;
    font-size: 3rem;
  }

  .main-section {
    margin: 0 auto;
    width: 95vw;
    height: 1%;
    background-color: whitesmoke;
    box-shadow: 0px 20px 30px 1px rgba(0, 0, 0, 0.171);
    position: relative;
    transition: .2s ease-in;
    overflow: auto;

  }

  article {
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif; */
    text-align: center;
  }

  #about-me{
    opacity: 1;
    /* position: absolute; */
    top: 0;
    transition: 0.2s ease-in;
    padding: 1rem;
    font-size: 1.3rem;
  }

 #app, #contact{
    /* position: absolute; */
    top: 0;
    opacity: 0;
    transition: 0.2s ease-in;
    padding: 1rem;
    font-size: 1.3rem;
  }

}






























